<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %> </h1>
    </div>

    <div class="box">
        <% for(var i=0; i<newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
        </div>
        <% } %>
        
            
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="Nova Tarefa" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>


</body>
</html>